{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/legalMentions.css') }}">
{% endblock %}

{% block body %}
    <div class="main_bloc">
        <h1>Mentions légales :</h1>
        <div class="rule">
        <h3>Obligation 1 :</h3>
        </div>
        <p>
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
        </p>
        <div class="rule">
            <h3>Obligation 2 :</h3>
        </div>
        <p>
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
        </p>
        <div class="rule">
            <h3>Obligation 3 :</h3>
        </div>
        <p>
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
        </p>
    </div>
{% endblock %}
