/* Section des recettes */
.section__recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;
    background: #E3E3E3;
    width: 70%;
}

.section__recipe-list a {
    color: black;
    position: relative;
    text-decoration: none;
}

.section__recipe-list img {
    display: block;
    margin: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
    width: 240px;
    height: 240px;
}


.section__recipe-list .section__recipe:hover img {
    transform: scale(1.05);
}

.section__recipe-list h2 {
    text-decoration: none;
    text-align: center;
}


.section__recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 6px 10px 10px gray;
    margin: 10px;
    width: 20%;
    transition: transform 0.3s ease, filter 0.3s ease;
    position: relative;
    overflow: hidden;
    padding: 10px;
    min-height: 400px;
}



.section__recipe-list a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.titre_liste{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.titre_liste button {
    border-radius: 20px;
    padding: 4px 8px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 16px;
}

.section__filter {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.section__filter h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

@media(max-width: 856px){
    .section__recipe-list h2{
        font-size:100%;
    }

    .section__recipe-list img {
        width: 100px;
        height: 100px;
    }
    .section__recipe {
        min-height: 210px
    }
}
