.main_bloc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;
    background: #E3E3E3;
    width: 70%;
    flex-direction:column;
}

.email_from{
    width: 80%;
}

.email_from textarea{
    width: 100%;
    min-height: 400px;
}

.email_from input{
    width: 100%
}

.send_button button{
    border-radius: 10px;
    background: #b8b6b6;
    border-color: #00AA66;
}