/* Style de la page d'un ingrédient */

.block {
    background: #E3E3E3;
    margin: 30px auto;
    padding: 30px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    flex-wrap: wrap;
}

.ingredient__headTitle {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ingredient-image {
    width: 550px;
    height: 550px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10%;
}

p {
    font-size: 1.3em;
}

/* Style du block 'Information de l'ingrédient'*/

.ingredient__head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ingredient__family {
    font-size: 1.2em;
    margin-top: 10px;
}

.ingredient__family-important{
    font-weight: bold;
}

/* Style du block 'Mon allergène'*/

.allergen-info {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}

/* Style du block 'Où peut-on me retrouver ?'*/
.ingredient__recipes {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.ingredient__recipe-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 6px 10px 10px gray;
    margin: 5px;
    width: 20%;
    transition: transform 0.3s ease, filter 0.3s ease;
    position: relative;
    overflow: hidden;
}

.ingredient__recipe-card img {
    width: auto;
    height: 150px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.ingredient__recipe-card a {
    text-decoration: none;
}

.ingredient__recipe-card:hover {
    transform: scale(1.1);
}

.ingredient__recipe-image {
    margin-top: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.ingredient__recipe-name {
    text-align: center;
    font-weight: bold;
    color: black;
    transition: font-weight 0.3s ease, text-decoration 0.3s ease, color 0.3s ease;
}

.ingredient__recipe-card:hover .ingredient__recipe-name {
    text-decoration: underline;
    color: #ffd700;
}