{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/termsOfUse.css') }}">
{% endblock %}

{% block body %}
    <div class="main_bloc">
        <h1>Conditions d'utilisation :</h1>
        <div class="rule">
            <h3>Obligation 1 :</h3>
        </div>
        <p>
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
        </p>
        <div class="rule">
            <h3>Obligation 2 :</h3>
        </div>
        <p>
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
        </p>
        <div class="rule">
            <h3>Obligation 3 :</h3>
        </div>
        <p>
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
            Exemple de texte Exemple de texte
        </p>
    </div>
{% endblock %}
